/* index.css */
/* Ya tienes estas directivas de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aseguramos que toda la página ocupe el 100% del alto */
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Contenedor principal de la aplicación */
.app-container {
    background-image: url('../../public/background.jpg');
    background-size: cover; /* Para que la imagen ocupe toda la pantalla */
    background-position: center; /* Para centrar la imagen */
    position: relative;
    /* Aseguramos que el contenedor ocupe el 100% de la pantalla */
    display: flex; /* Flexbox para organizar su contenido */
    flex-direction: column; /* El contenido se organiza verticalmente */
    min-height: 100vh; /* Al menos 100% de la altura de la ventana */
}

/* Contenido principal (App) debe crecer si es necesario */
.main-content {
    flex: 1; /* Hace que el contenido crezca y ocupe el espacio restante */
  }

/* index.css */

/* sweetalert.css */
.black-swal {
  background-color: #333; /* Fondo negro */
  color: white; /* Texto blanco */
}


/* Definimos una animación de escala */
@keyframes scale-up-down {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  /* Clase personalizada para aplicar la animación */
  .animate-title {
    animation: scale-up-down 3s ease-in-out infinite; /* Animación con duración de 3s, suave e infinita */
  }
  