/* index.css */
/* Ya tienes estas directivas de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aseguramos que toda la página ocupe el 100% del alto */
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Contenedor principal de la aplicación */
.app-container {
    position: relative;
    height: 100%; /* Aseguramos que el contenedor ocupe el 100% de la pantalla */
    display: flex; /* Flexbox para organizar su contenido */
    flex-direction: column; /* El contenido se organiza verticalmente */
    min-height: 100vh; /* Al menos 100% de la altura de la ventana */
}

/* Estilos para el video de fondo */
video#backgroundVideo {
    position: fixed; /* Fijamos el video al fondo de la página */
    top: 0;
    left: 0;
    width: 100%; /* Que cubra todo el ancho de la pantalla */
    height: 100%; /* Que cubra todo el alto de la pantalla */
    object-fit: cover; /* Hace que el video mantenga su proporción al ajustarse */
    z-index: -1; /* Colocamos el video detrás del contenido */
}

/* Contenido principal (App) debe crecer si es necesario */
.main-content {
    flex: 1; /* Hace que el contenido crezca y ocupe el espacio restante */
  }

/* index.css */

/* sweetalert.css */
.black-swal {
  background-color: #333; /* Fondo negro */
  color: white; /* Texto blanco */
}


/* Definimos una animación de escala */
@keyframes scale-up-down {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  /* Clase personalizada para aplicar la animación */
  .animate-title {
    animation: scale-up-down 3s ease-in-out infinite; /* Animación con duración de 3s, suave e infinita */
  }
  